/* font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; */

/* #212121
#757575
#FFFFFF
#2196F3
#000000
#2F303A
#FFFFFF
#ECECEC
#F5F4FA

#212121
#757575
#FFFFFF */
:root{
    --main-font:'Roboto', sans-serif;
    --secondary-font:'Raleway', sans-serif;
    --white-txt-cl:#FFFFFF;
    --black-txt-cl:#212121;
    --gray-txt-cl:#757575;
    --blu-cl:#2196F3;
    --bg-cl:#2F303A;
     }
body {
    font-family:var(--main-font);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color:var(--gray-txt-cl);
    }
h1, 
h2, 
h3, 
p,
ul
    {
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;
    }
.list {
        padding-left: 0;
        margin-top: 0;
        margin-bottom: 0;
        list-style: none;
      }
      
.link {
        text-decoration: none;
    }
.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    }

.header {
    padding-top: 24px;
    padding-bottom: 25px;
    border-bottom: 1px solid #ECECEC;
    }
.nav-list {
    display: flex;
    align-items: center;
    }
.nav {
    display: flex;
    align-items: center;
   
    }
.header-contacts {
    display: flex;
    align-items: center;
    margin-left: auto;    
    }
.header-contact:not(:last-child){
    margin-right: 50px;

}
.header-container {
    display: flex;
    align-items: center;
    }  
    
.header-link {
    margin-right: 93px;
    }
.nav-item {
    margin-right: 50px;
    }
.nav-item:last-child {
    margin-right: 0;
}

.logo    
   {
    font-family:var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;  
    letter-spacing: 0.03em;  
    color:var(--blu-cl);
   } 
.heder-logo
   {
    font-family:var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;  
    letter-spacing: 0.03em;  
    color:var(--black-txt-cl);
   }
.nav-link 
   {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em; 
    color: #212121;
   }
.nav-link:hover,
.nav-link:focus, 
.header-email:hover,
.header-email:focus,
.header-tel:hover,
.header-tel:focus
   {
     color: var(--blu-cl);
   }
.nav-list .nav-link.current
   {
    color: var(--blu-cl);
   }
.header-email,
.header-tel 
   {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em; 
    color: #757575;   
   }
.section {
    padding-top: 94px;
    padding-bottom: 94px;
    }
.hero-title {
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color:var(--white-txt-cl);
        max-width: 696px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;

    }
.hero 
    {   
        padding-top: 200px;
        padding-bottom: 200px;
        background-color:var(--bg-cl);
    }
    .visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
      }
.benefits-list {
    display: flex;
    justify-content: space-between; 
    }
.benefits-item {
    width: 270px;
}
.benefits-item-title
    {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:var(--black-txt-cl);
    margin-bottom: 10px;
    }
.benefits-item-text
    {
    font-size: 14px;
    letter-spacing: 0.03em;
    }
.title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color:var(--black-txt-cl);
}
.works {
    padding-top: 0;

    }
.works-list {
    display: flex;
    justify-content:center;
    }
.works-item {
    margin-right: 30px;
}
.works-item:last-child {
    margin-right: 0;
  }
.hero-btn {
    margin-left: auto;
    margin-right: auto;
    padding: 9px 31px;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color:var(--white-txt-cl);
    background: var(--blu-cl);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
    border: none;

}
.team  {
    background-color:#F5F4FA;
    }
.team-item {
background: var(--white-txt-cl);
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
}
.team-name
    {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color:var(--black-txt-cl);
    margin-bottom: 10px;
    }
.team-position
    {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    }
.team-list {
    display: flex;
    justify-content: space-between;
    }
.team-foto {
    display: block;
    max-width: 100%;
    height: auto;
}

.container-team {
    padding-top: 30px;
    padding-bottom: 30px;
}

.subtitle
    {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color:var(--black-txt-cl);
    margin-bottom: 4px;
    
    }
.container-works {
    padding: 20px 24px;
    border-bottom: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE ;
}
.img-works {
    display: block;
    max-width: 100%;
}
.works-text
    {
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    
    }
.btn-item
    {
    font-family: inherit;;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color:var(--black-txt-cl);
    background-color:#F5F4FA;
    border-radius: 4px;
    cursor: pointer;
    padding: 6px 22px; 
    border: none;       
      }
.btn:not(:last-child) {
    margin-right: 8px;
}

.btn-item:hover,
.btn-item:focus {
    color:var(--white-txt-cl);
    background-color:var(--blu-cl);
}

.btn-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;

}
.works-card {
    display: flex;
    flex-wrap: wrap;
}
.works-item-card {
    margin-right: 30px;
    margin-bottom: 30px;
    background: var(--white-txt-cl);

}
.works-item-card:nth-child(3n) {
    margin-right: 0;
} 
.works-item-card:nth-last-child(-n + 3) {
    margin-bottom: 0;
}

.footer 
    {   
        padding-top: 60px;
        padding-bottom: 60px;
        background-color:var(--bg-cl);
    }
.footer-logo
    {
    font-family:var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;  
    letter-spacing: 0.03em;  
    color:var(--white-txt-cl);
 
    }

address
    {
     margin-top: 20px;
     font-style: normal;   
    }
.footer-item-link
    {
    font-size: 14px;
    letter-spacing: 0.03em;
    color:var(--white-txt-cl);
    }
.post,
.phone
    {
        color:rgba(255, 255, 255, 0.6);;   
    }
.footer-item-link:hover,
.footer-item-link:focus
   {
     color: var(--blu-cl);
   }
.footer-item:not(:last-child) {
    margin-bottom: 9px;
}
